body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

/* DIV CONTENEDOR GENERAL */
#wrapper {
	width: 90%;
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/
#cabezera{
	height: 400px;
	width: 100%;
	background: #FFE680;
	background-image: url(/images/montaña.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
}
#cabezera img{
	height: 200px;
	width: 200px;
	display: block;
	margin: 0 auto;
	padding: 40px 0;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: grey; 
    overflow: auto;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 790px;
	float: left;
    background-color: rgb(65, 61, 61);
    padding: 10px;   
}

#sideRight {
	float: left;
	width: 150px;	
	background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
#pie {
    float: left;
	width: 100%;
	height: 100%;
	background: #000000;
	color: aliceblue;
}
.lista1, .lista2, .lista3 {
	display: inline-block;
	padding: 0 10pxs;
}
#pie h3 {
	display: inline-block;
}

