body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

/* DIV CONTENEDOR GENERAL */
#wrapper {
	width: 90%;
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/
#cabezera{
	height: 400px;
	width: 100%;
	background: #FFE680;
	background-image: url(/images/montaña.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
}
#cabezera img{
	height: 200px;
	width: 200px;
	display: block;
	margin: 0 auto;
	padding: 40px 0;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: grey; 
    overflow: auto;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 790px;
	float: left;
    background-color: rgb(65, 61, 61);
    padding: 10px;   
}

#sideRight {
	float: left;
	width: 50%;	
	background: #FFACAA;
}
.sidebar img {
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
}
#verde {
	color: greenyellow;
}
#muyVerde {
 color: green;
}
#naranja {
 color: orange;
}
#rojo {
 color: red;
}
#amarillo {
	color: #FFE680;
}
/* Footer
-----------------------------------------------------------------------------*/
#pie {
    float: left;
	width: 100%;
	height: 100%;
	background: #3b3a3a;
	color: aliceblue;
}
#pie a{
	color: white;
	text-decoration: none;
}
.icon-twitter {
	font-size: 15px;
}
.icon-facebook {
	font-size: 15px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}
div #copy {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.footer-section {
	/* Agrupa cada h3 con su lista */
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Alinea los elementos al principio */
}

.footer-section h3 {
	margin-bottom: 5px; /* Espacio entre el h3 y la lista */
	text-decoration: underline;
}

.footer-section ul {
	padding: 0; /* Quita el padding por defecto */
}